.color-picker {
  width: 300px;
  &-palette {
    position: relative;
    min-height: 160px;
    &-main {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}