.container div{
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 800;
  font-size: 300px;
}
.container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}


.list {
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-item  {
    width: 260px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: lightcoral;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #fff;
    &-btn {
      font-size: large;
      cursor:pointer;
    }
  }
}