.message-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  // 不响应如何事件
  pointer-events: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  &-top {
    position: absolute;
    top: 50px;
  }

  &-bottom {
    position: absolute;
    bottom: 20px;
  }
}


.message-card {
  width: 260px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  border: 1px solid lightcoral;
  text-align: center;
  margin-top: 20px;

  // 允许所有事件事件
  pointer-events: all;
}

.message-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.message-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity,transform 0.5s ease;
}

.message-exit {
  opacity: 1;
  transform: scale(1);
}

.message-exit-active {
  transform: scale(0.5);
  transition: opacity,transform 0.5s ease;
}
.message-exit-done {
  opacity: 0;
  transition: opacity,transform 0.5s ease;
}